.metadata
web-app
*/target
*/plugin.xml
*/**/WEB-INF/tld
*/classes
*.iml
*.ipr
*.iws
*/**/tld
*/stacktrace.log
*.project
*.classpath
*.settings
#.settings
*/bin
.idea
*/out
grails-app/views
/target/*
